<div class = "main_chat">
  <div class = "main_top">
    <div class = "chat_header">peopeo</div>
    <div class = "exit">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <%# メインの真ん中部分 %>
  <div class = "main_middle">

    <div class = "message">
      <div class = "name_date">
        <div class = "name">Andy</div>
        <div class = "date">2022/3/13(sun) 12:36:48</div>
      </div>
      <div class = "text">
        Hi how are you, where are you from?
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>

  </div>

  <%# メインの下部分 %>
  <div class = "main_bottom">
    <div class="form">
     <input class = "input" placeholder = "type a message" type=text>
     <label class = "form_image">
        <span class ="image_file">画像</span>
        <input class = "hidden" type= file>
     </label>
     
    </div>
     <input class = "submit" type=submit valu="送信">
     

  </div>
</div>
