<div class = "main_chat">
  <div class = "main_top">
    <div class = "chat_header">peopeo</div>
    <div class = "exit">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <%# メインの真ん中部分 %>
  <div class = "main_middle">

    <div class = "message">
      <div class = "name_date">
        <div class = "name">Andy</div>
        <div class = "date">2022/3/13(sun) 12:36:48</div>
      </div>
      <div class = "text">
        Hi how are you, where are you from?
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>
    <div class = "message">
      <div class = "name_date">
        <div class = "name">Pinkman</div>
        <div class = "date">2022/3/13(sun) 12:50:44</div>
      </div>
      <div class = "text">
        What a fuck! Mr.Hwite.
      </div>
    </div>

  </div>

  <%# メインの下部分 %>
  
  <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
</div>
