<div class = "side_bar">
    <div class = "side_top">
      <div class="top-name">
        <a href="#">MASAKI</a>
     </div>
      <div class = "button">
         <a href="#">チャットを作成すぅの</a>
      </div>
    </div>
    <div class = "side_bottom">
    <%# ここからがルーム区 %>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>
      <div class = "room">
        <div class = "room-name">
         <a href="#">my room1</a>
        </div>
      </div>

    </div>
</div>
